body {
    padding: 10px;
}

.table tr > td {
    vertical-align: middle;
}

#usernameIndicator {
    position: fixed;
    top: 0;
    right: 0;
    padding: inherit;
    background-color: inherit;

    /* For those cheeky boys and girls who put massive usernames */
    max-width: 50%;
    overflow-wrap: break-word;
    text-align: right;
}

#votingSystemLabel {
    font-weight: bold;
}

#movieInfo {
    font-size: 1.5rem;
}

.popover-body ul {
    padding-left: 20px;
    margin-bottom: 0;
}

.suggester-row {
    font-weight: 600;
}

.vote-cell {
    text-align: center;
}

#ieImage {
    margin-left: 10px;
    vertical-align: top;
}