body {
    padding: 10px;
}

.table tr > td {
    vertical-align: middle;
}

#usernameIndicator {
    position: fixed;
    top: 0;
    right: 0;
    padding: inherit;
    background-color: inherit;

    /* For those cheeky boys and girls who put massive usernames */
    max-width: 50%;
    overflow-wrap: break-word;
    text-align: right;
}

#votingSystemLabel, #numSuggestionsLabel {
    font-weight: bold;
}

#movieInfo {
    font-size: 1.5rem;
}

.popover-body ul {
    padding-left: 20px;
    margin-bottom: 0;
}

#suggestionsLabel {
    margin-bottom: 12px;
    margin-left: 6px;
    font-style: italic;
}

.subtle-link:hover {
    cursor: pointer;
    color: #0069d9;
    text-shadow: 0px 0px 0.1px #0069d9;
}

.suggester-row {
    font-weight: 600;
}

.vote-cell {
    text-align: center;
}

#movieView {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#movieContainer {
    width: 60%;
}

.movie-content {
    width: 100%;
    font-size: 1.2em;
}

#movieTitle {
    margin-bottom: 20px;
}

#posterImage {
    align-self: self-start;
    margin-right: 20px;
    box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.75);
}

.rating-text {
    align-self: flex-end;
    margin-top: auto;
    font-weight: bold;
    font-size: 1.2em;
    line-height: 1;
}

#movieImdbRating {
    font-size: 1.8em;
}

#ieImage {
    margin-left: 10px;
    vertical-align: top;
}