name: Test
on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]
env:
  CI: true
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: lts/*
      - name: Install dependencies
        run: npm ci
      - name: Run lint
        run: npm run lint
      - name: Run HTML lint
        run: npm run lint:html
      - name: Run test
        run: npm run test
